@model prjMvcCoreEugenePersonnal.ViewModels.ProductListViewModel


<style>
    .menu-link {
        font-size: 110%; /* Increase font size */
        transition: all 0.3s;
    }

        .menu-link:hover {
            color: #007bff; /* Change color on hover */
            box-shadow: 3px 3px 5px #888888;
        }
</style>

@{
    ViewData["Title"] = "List";
}

<div class="row ms-5" style="margin-left: 0px;">
    <div class="col-md-2 p-2 bg-white m-0" style="position: fixed; top: 100px; bottom: 350px; overflow-y: auto; transition: all 0.3s; margin-left: -100px;">
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
                @Html.ActionLink("全部商品", "List", "Shopping", new { classification = (string)null }, new { @class = "menu-link link-dark rounded text-decoration-none" })
            </li>
            @foreach (var classification in Model.AllClassifications)
            {
                <li class="mb-1">
                    @Html.ActionLink(classification, "List", "Shopping", new { classification = classification }, new { @class = "menu-link link-dark rounded text-decoration-none" })
                </li>
            }
        </ul>
    </div>
</div>

<div class="container mt-3" style="margin-left: 120px;">


        <div class="col-md-9 ms-auto p-0" style="margin-left: -200px;">

            <div class="album py-5 bg-body-tertiary">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 card1" height="400">
                        @foreach (var item in Model.Products)
                        {
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="~/images/Product/@item.ProductImagePath" class="bd-placeholder-img card-img-top" width="100%" height="225">
                                    <div class="card-body">
                                        <h5 class="card-text">
                                            @Html.DisplayFor(modelItem => item.ProductName)
                                        </h5>
                                        <p class="card-text">
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </p>
                                        <p class="card-text">
                                            @Html.DisplayFor(modelItem => item.Price)
                                        </p>
                                        <p class="card-text">
                                            @Html.DisplayFor(modelItem => item.Classification)
                                        </p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                @Html.ActionLink("加入購物車", "AddToCart", new { id = item.ProductId }, new { @class = "btn btn-primary se-2" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



